@font-face {
  font-family: Hero;
  src: url(/Hero/Commercial/OTF/Hero-Regular.otf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: hero;
}
body {
  padding: 0;
  margin: 0 auto;
  max-width: 70%;
  background-color: #1f2937;
}
/* header */
.header {
  display: flex;
  flex-direction: row;
  background-color: #1f2937;
  font-size: 24px;
  color: #f9faf8;
}
.nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.nav ul {
  display: flex;
  flex-direction: row;
}
.nav li {
  list-style: none;
  margin-left: 10px;
}
.nav li a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

/* first div */

.banner {
  padding-top: 7rem;
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  padding-bottom: 4rem;
}
.image-text {
  width: 450px;
}
.image-text h3 {
  margin-bottom: 0;
}
.image-text p {
  color: #e5e7eb;
}
.image-text button {
  background-color: #3882f6;
  color: white;
  padding: 5px 20px 5px 20px;
  border: none;
  border-radius: 5px;
}
.banner .image-text h3 {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
  margin-top: 0;
}

.img {
  width: 50%;
  margin-left: auto;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 2nd div */
.squares-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.shape {
  width: 200px;
  height: 200px;
  border: #3882f6 solid 5px;
  border-radius: 10%;
}
.square {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.quote {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #e5e7eb;
  flex-direction: column;
  font-size: 36px;
  color: #1f2937;
}
.quote-text {
  width: 80%;
}
.quote .thor {
  font-weight: 900;
}

.white-bg {
  width: 100%;
  height: 350px;
  background-color: #f9faf8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blue-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  width: 85%;
  min-height: 150px;
  border-radius: 10px;
}
.blue-banner {
  color: #f9faf8;
}
.blue-banner h4 {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
}
.blue-banner p {
  color: #e5e7eb;
}
.signup-btn button {
  margin-left: auto;
  text-decoration: none;
  background-color: #3882f6;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 1rem;
}
